<div class="error_page err_not-found">

    <h1>Oops! The page isn’t here.</h1>

    <p>The requested url was nowhere to be found... yet.</p>
    <br />
    <p>
        <a href="/" class="btn btn-info">Take me home</a>
    </p>

</div>